<br><br>
<div class="container">
    <div class="mb-3">
        <label class="form-label">Nombre de la posicion</label>
        <input type="text" class="form-control" placeholder="" [formControl]="name">
      </div>

      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" [formControl]="risk">
            <option selected value="1">alto</option>
            <option value="2">medio</option>
            <option value="3">bajo</option>
          </select>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Salario minimo</label>
        <input type="number" type="text" class="form-control" [formControl]="minSalary">
      </div>

      <div class="mb-3">
        <label class="form-label">Salario maximo</label>
        <input type="number" type="text" class="form-control" [formControl]="maxSalary">
      </div>
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [formControl]="state">  
        <label class="form-check-label">
          Disponible
        </label>
      </div>

      <button (click)="clickBtn()" type="button" class="btn btn-primary">Enviar</button>
</div>
